{% extends 'base.html.twig' %}

{% block title %}Set Your Password{% endblock %}

{% block body %}
    <h1>Set Your Password</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Set Password</button>
    {{ form_end(form) }}
{% endblock %}
