<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Exercise 01 - Create Table</title>
</head>
<body>
    <h1>Exercise 01: ORM Table Creation</h1>
    <button onclick="window.location.href='{{ path('ex01_create_table') }}'">Create Table</button>
</body>
</html>

